.links-row {
  display: flex;
  column-gap: 20px;
}

.github-link, .resume-link {
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  transition: 0.3s;
}

.github-link:hover, .resume-link:hover {
  color: rgb(0, 220, 255);
}

.extra-info-text {
  font-size: 1.2rem;
  margin: 1rem 0;
}