.links-row {
  display: flex;
  column-gap: 20px;
}

.links-row a {
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  transition: 0.3s;
}

.links-row a:hover {
  color: rgb(0, 220, 255);
}

.extra-info-text {
  font-size: 1.2rem;
  margin: 1rem 0;
}