.home {
  display: flex;
  flex-direction: column;
}

.home-top {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 4rem;
}

.profile-pic {
  display: block;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
}

.profile-name {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.greeting-container {
  display: grid;
  place-items: center;
}

.profile-greeting {
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

@media (max-width: 1000px) {
  .home-top {
    flex-direction: column;
  }
}