<div class="main row">
  <div class="home col-10">
    <div class="home-top">
      <div class="profile">
        <img class="profile-pic" src="profile.jpeg" alt="Profile Picture" />
        <h3 class="profile-name">Jun Kai Zhang</h3>
      </div>
      <div class="greeting-container col-auto">
        <h2 class="profile-greeting">{{ greeting }}</h2>
      </div>
    </div>
    <div class="home-body">
      <p>
        I am a fourth-year Specialist Computer Science student at the University
        of Toronto. I am strongly interested in software development, full-stack
        web development, and game development. Additionally, I am passionate
        about learning new technologies in an ever-evolving field.
      </p>
    </div>
  </div>
</div>
